/** ALL **/
html {
  margin: 0;
  padding: 0;
  background-color: #F5F2F2;
  width: 100%;
  height: 100%;
  position: relative;
}


/** Header Area **/
#logo {
  margin: 30px;
}

/** Rings Area **/
#rings {
  position: relative;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-left: -250px;
}

/** Footer Area **/

footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0px;
  padding: 10px 0;
}

.page-footer small {
  position: absolute;
  font-family: 'Helvetica Neue', 'Lucida Grande','Hiragino Kaku Gothic ProN';
  font-style: italic;
  text-align: center;
  font-weight: lighter;
  color: #666666;
  height: 30px;
  width: 100%;
  margin: 0 auto 0 auto;
}
